.bg-jbt {
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background: linear-gradient(90deg, rgb(121, 251, 255, 0.4),rgba(255, 96, 228, 0.473)), url(https://github.com/SergioCampbell/sacv/blob/gh-pages/images/1002539.jpg);
    -webkit-background-size: cover;
     -moz-background-size: cover;
     background-size: cover;
     -o-background-size: cover;
    border-radius: 0.3rem;
  }

.contenedor{
    background: rgb(117, 117, 117);
    position: relative;
    z-index: 99;
}

p, li{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html.sr .load-hidden {
    visibility: hidden;
}
.null{
    width: 5px;
	padding: 20px;
}

.ico{
    font-size: 55px;
}


#scabout{
    height: 200px;
    width: 200px;
}

.colordos{
    background: linear-gradient(90deg, rgba(121, 251, 255, 0.637),rgba(255, 96, 228, 0.637));
}

.bg-form{
    background: linear-gradient(270deg, rgba(121, 251, 255, 0.340),rgba(255, 96, 228, 0.340));
    color: white;
}

#testimonial-bg{
    background: url(https://thumbs.gfycat.com/LankyShockingHawk-size_restricted.gif); /*background: url(https://static.wixstatic.com/media/3185a6_12fa45117464402c9f46a50b39b7953b~mv2.gif);*/
    height: 100%;
    width: 50em;
    position: relative;
    z-index: inherit;
}

#animate-area{
    background-image: url();
    background-position: 0px 0px;
    background-repeat: repeat-x;

    animation: animatedBackground 40s linear infinite;
}

@keyframes animatedBackground {
    from { background-position: 0 0; }
    to { background-position: 100% 0; }
}

.skill-left {
    background-color: rgb(129, 219, 241);
    width: 100px;
    color: rgb(0, 0, 0);
}

.skill-right {
    width: 100%;
    float: right;
    transition: width 2s;
}


.skill-right:hover {
    width: 80px; 
}

/*animated effect background*/
