---
import { getCollection } from 'astro:content';

import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
import Grid from '../components/Grid.astro';
import BlogPreview from '../components/BlogPreview.astro';

// Internalize i18n
import { getI18n } from "../i18n";
const { currentLocale } = Astro as { currentLocale: string}
const i18n = getI18n({ currentLocale });

const blogs = (await getCollection('blog')).sort(
	(a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf()
);
---

<BaseLayout
	title="My Blog | Sergio Campbell Dev"
	description="Blog posts by Sergio Campbell Dev"
>
	<div class="stack gap-20">
		<main class="wrapper stack gap-8">
			<Hero
				title={i18n.BLOG_PAGE.TITLE}
				tagline={i18n.BLOG_PAGE.DESCRIPTION}
				align="start"
			/>
			<Grid variant="offset">
				{
					blogs.map((blog) => (
						<li>
							<BlogPreview blog={blog} />
						</li>
					))
				}
			</Grid>

		</main>
		<ContactCTA />
	</div>
</BaseLayout>
